@import 'syntax-variables';

.editor-colors {
  color: @syntax-text-color;
  background-color: @syntax-background-color;
}

.editor {
  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    opacity: .25;
  }

  .line-number {
    color: @syntax-gutter-text-color;
  }

  .line-number.cursor-line {
    color: @syntax-gutter-text-color-selected;
    background-color: @syntax-gutter-background-color-selected;
  }

  .line-number.cursor-line-no-selection {
    background-color: transparent;
  }

  .line-number .icon-right {
    color: @syntax-text-color;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    border-color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }

}
