
// Language syntax highlighting


// Base hue -----------------------------------

.html.elements,
.entity,
.tag {
  color: @syntax-b1;
}

.variable,
.html.attribute-name,
.css.pseudo-element {
  color: @syntax-b2;
}

.js.sourceee,
.editor-colors,
.support {
  color: @syntax-b3;
}

.source,
.punctuation,
.meta {
  color: @syntax-b4;
}


// Accent hue -----------------------------------

.string,
.constant,
.storage.type {
  color: @syntax-a1;
}

.keyword {
  color: @syntax-a2;
}

.comment {
  color: @syntax-a3;
}
