// Default language syntax highlighting


// Colors -----------------------------------

// Base hue
@syntax-b1: hsl(@syntax-hue, @syntax-sat  , 64% + @syntax-lightness + @syntax-contrast);
@syntax-b2: hsl(@syntax-hue, @syntax-sat  , 46% + @syntax-lightness + @syntax-contrast);
@syntax-b3: hsl(@syntax-hue, @syntax-sat/3, 28% + @syntax-lightness + @syntax-contrast);
@syntax-b4: hsl(@syntax-hue, @syntax-sat/8, 16% + @syntax-lightness + @syntax-contrast);

// Accent hue
@syntax-a1: hsl(@syntax-hue-accent, @syntax-sat  , 52% + @syntax-lightness + @syntax-contrast);
@syntax-a2: hsl(@syntax-hue-accent, @syntax-sat/2, 30% + @syntax-lightness + @syntax-contrast);
@syntax-a3: hsl(@syntax-hue-accent, @syntax-sat/4, 34% + @syntax-lightness + @syntax-contrast);
@syntax-a4: hsl(@syntax-hue-accent, @syntax-sat/8, 16% + @syntax-lightness + @syntax-contrast);


// Base hue -----------------------------------

.html.elements,
.entity,
.tag {
  color: @syntax-b1;
}

.variable,
.html.attribute-name,
.css.pseudo-element {
  color: @syntax-b2;
}

.js.sourceee,
.editor-colors,
.support {
  color: @syntax-b3;
}

.source,
.punctuation,
.meta {
  color: @syntax-b4;
}


// Accent hue -----------------------------------

.string,
.constant,
.storage.type {
  color: @syntax-a1;
}

.keyword {
  color: @syntax-a2;
}

.comment {
  color: @syntax-a4;
}
