
// Syntax Variables for Atom Theme: One Light


// Fallback -----------------------------------
// This syntax theme uses variables from the "UI" theme,
// bellow some fallback variables for stand-alone use

@theme-color:             hsl(40, 100%, 50%);
@theme-accent-color:      spin(@theme-color, 168);

@theme-adjust-saturation: 0%; // -/+n%
@theme-adjust-contrast:   0%;


// Config -----------------------------------

@syntax-hue:          hsvhue(@theme-color);
@syntax-hue-accent:   hsvhue(@theme-accent-color);
@syntax-saturation:   max(2% + @theme-adjust-saturation, 0% ); // limit to > 100%;
@syntax-brightness:   98%;
@syntax-contrast:     @theme-adjust-contrast * -0.1;


// Base colors -----------------------------------

@syntax-accent-color: hsl(@ui-hue-accent, @theme-adjust-saturation + 100%, (@ui-brightness + (@ui-contrast*10) - 42%) );
@syntax-base-color:   hsv(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-text:         hsl(@syntax-hue, @syntax-saturation, min(70%, ( 40% + @syntax-brightness + @syntax-contrast) ) );
@syntax-guide-color:  fade(@syntax-text, 40%);



// Language colors -----------------------------------

// Base hue
@syntax-b1: hsl(@syntax-hue-accent, @syntax-saturation*20, -60% + @syntax-brightness + @syntax-contrast);
@syntax-b2: hsl(@syntax-hue-accent, @syntax-saturation*16, -56% + @syntax-brightness + @syntax-contrast);
@syntax-b3: hsl(@syntax-hue-accent, @syntax-saturation*8 , -44% + @syntax-brightness + @syntax-contrast);
@syntax-b4: hsl(@syntax-hue-accent, @syntax-saturation*4 , -36% + @syntax-brightness + @syntax-contrast);

// Accent hue
@syntax-a1: hsl(@syntax-hue, @syntax-saturation*40,  -56% + @syntax-brightness + @syntax-contrast);
@syntax-a2: hsl(@syntax-hue, @syntax-saturation*30,  -40% + @syntax-brightness + @syntax-contrast);
@syntax-a3: hsl(@syntax-hue, @syntax-saturation*2 ,  -36% + @syntax-brightness + @syntax-contrast);



// General colors -----------------------------------

@syntax-text-color:            @syntax-text;
@syntax-cursor-color:          @syntax-accent-color;
@syntax-background-color:      desaturate( darken(@syntax-base-color, @syntax-contrast * 0.7 ), 100%);
@syntax-selection-color:       darken(@syntax-background-color, 8%);
@syntax-cursor-line:           darken(@syntax-background-color, 4%);
@syntax-selection-flash-color: @syntax-accent-color;

// Guide colors
@syntax-wrap-guide-color:          @syntax-guide-color;
@syntax-indent-guide-color:        @syntax-guide-color;
@syntax-invisible-character-color: @syntax-guide-color;

// For find and replace markers
@syntax-result-marker-color: @syntax-text-color;
@syntax-result-marker-color-selected: @syntax-accent-color;



// Gutter colors -----------------------------------

@syntax-gutter-text-color:          hsl(@syntax-hue, @syntax-saturation/2, -36% + @syntax-brightness + @syntax-contrast);
@syntax-gutter-text-color-selected: hsl(@syntax-hue, @syntax-saturation*2, -56% + @syntax-brightness + @syntax-contrast);

@syntax-gutter-background-color: transparent;
@syntax-gutter-background-color-selected: darken(@syntax-background-color, 4%);


// Git colors -----------------------------------
// For git diff info. i.e. in the gutter
@syntax-color-renamed:  hsl(208, 100%, 66%);
@syntax-color-added:    hsl(132,  60%, 44%);
@syntax-color-modified: hsl( 40,  90%, 50%);
@syntax-color-removed:  hsl(  0, 100%, 54%);
