@syntax-hue: @base-hue;
@syntax-base-color: @level-2-color;
@syntax-guide-color: fade(@syntax-text-color, 15%);


// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: hsl(@syntax-hue, 16%, 72%);
@syntax-cursor-color: hsl(@syntax-hue, 100%, 66%);
@syntax-background-color: @syntax-base-color;
@syntax-selection-color: lighten(@syntax-background-color, 10%);
@syntax-selection-flash-color: @syntax-text-color;

// Guide colors
@syntax-wrap-guide-color: @syntax-guide-color;
@syntax-indent-guide-color: @syntax-guide-color;
@syntax-invisible-character-color: @syntax-guide-color;

// For find and replace markers
@syntax-result-marker-color: @syntax-text-color;
@syntax-result-marker-color-selected: #fff;

// Gutter colors
@syntax-gutter-text-color: darken(@syntax-text-color, 30%);
@syntax-gutter-text-color-selected: @syntax-text-color;

@syntax-gutter-background-color: darken(@syntax-background-color, 1%);
@syntax-gutter-background-color-selected: lighten(@syntax-background-color, 2%);

// For git diff info. i.e. in the gutter
@syntax-color-renamed: #96CBFE;
@syntax-color-added: #A8FF60;
@syntax-color-modified: #E9C062;
@syntax-color-removed: #CC6666;


// Fallback vars
// This syntax theme uses vars from "Mod Atom Dark" UI theme
@base-hue: 220;
@base-saturation: 12%;
@base-lightness:   14%;
@level-2-color: hsl(220, 12%, 18%);
