
// Config -----------------------------------
@syntax-hue:          240;
@syntax-saturation:   12%;
@syntax-brightness:   16%;

// Base colors -----------------------------------
@syntax-accent: hsl(@syntax-hue, 100%, 72% );
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-fg:     @mono-1;
@syntax-bg:     hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);


// Colors: Mix Base16 Tomorrow with Theme hue -----------------------------------

@mono-1: hsl(@syntax-hue, 32%, 88%);
@mono-2: hsl(@syntax-hue, 16%, 66%);
@mono-3: hsl(@syntax-hue,  8%, 44%);

@hue-1:   hsl(187, 47%, 55%);
@hue-2:   hsl(207, 82%, 66%);
@hue-3:   hsl(286, 60%, 67%);
@hue-4:   hsl(95,  38%, 62%);

@hue-5:   hsl(355, 65%, 65%);
@hue-5-2: hsl(5,   48%, 51%);

@hue-6:   hsl(29,  54%, 61%);
@hue-6-2: hsl(39,  67%, 69%);
@hue-6-3: hsl(30, 100%, 50%);
