@import "colors";

// Syntax Variables for Atom Theme: One Dark

@syntax-bracket-matcher-background-color: lighten(@syntax-background-color, 6%);


// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors -----------------------------------

@syntax-text-color:            @syntax-text;
@syntax-cursor-color:          @syntax-accent-color;
@syntax-selection-color:       lighten(@syntax-background-color, 10%);
@syntax-selection-flash-color: @syntax-accent-color;
@syntax-background-color:      darken(@syntax-base-color, @syntax-contrast);

// Guide colors
@syntax-wrap-guide-color:          @syntax-guide-color;
@syntax-indent-guide-color:        @syntax-guide-color;
@syntax-invisible-character-color: @syntax-guide-color;
@syntax-cursor-line:               hsla(@syntax-hue, 100%,  80%, .04); // needs to be semi-transparent to show serach results

// For find and replace markers
@syntax-result-marker-color: @syntax-text-color;
@syntax-result-marker-color-selected: @syntax-accent-color;


// Gutter colors -----------------------------------

@syntax-gutter-text-color: hsl(@syntax-hue, @syntax-saturation/8, 16% + @syntax-brightness + @syntax-contrast);
@syntax-gutter-text-color-selected: @syntax-text-color;
@syntax-gutter-background-color: darken(@syntax-background-color, 1%);
@syntax-gutter-background-color-selected: lighten(@syntax-background-color, 2%);


// Git colors -----------------------------------
// For git diff info. i.e. in the gutter
@syntax-color-renamed:  hsl(208, 100%, 60%);
@syntax-color-added:    hsl(150,  60%, 54%);
@syntax-color-modified: hsl(40,   60%, 70%);
@syntax-color-removed:  hsl(0,    70%, 60%);
