@import "colors";

// Syntax Variables for Atom Theme: One Light

@syntax-bracket-matcher-background-color: darken(@syntax-background-color, 6%);


// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors -----------------------------------

@syntax-text-color:            @syntax-text;
@syntax-cursor-color:          @syntax-accent-color;
@syntax-selection-color:       darken(@syntax-background-color, 8%);
@syntax-selection-flash-color: @syntax-accent-color;
@syntax-background-color:      darken(@syntax-base-color, (@syntax-contrast * 0.7) );

// Guide colors
@syntax-wrap-guide-color:          @syntax-guide-color;
@syntax-indent-guide-color:        @syntax-guide-color;
@syntax-invisible-character-color: @syntax-guide-color;
@syntax-cursor-line:               hsla(@syntax-hue, 33%,  33%, .07); // needs to be semi-transparent to show serach results

// For find and replace markers
@syntax-result-marker-color: @syntax-text-color;
@syntax-result-marker-color-selected: @syntax-accent-color;


// Gutter colors -----------------------------------

@syntax-gutter-text-color:          hsl(@syntax-hue, @syntax-saturation/2, -36% + @syntax-brightness + @syntax-contrast);
@syntax-gutter-text-color-selected: hsl(@syntax-hue, @syntax-saturation*2, -56% + @syntax-brightness + @syntax-contrast);
@syntax-gutter-background-color: transparent;
@syntax-gutter-background-color-selected: darken(@syntax-background-color, 4%);


// Git colors -----------------------------------
// For git diff info. i.e. in the gutter
@syntax-color-renamed:  hsl(208, 100%, 66%);
@syntax-color-added:    hsl(132,  60%, 44%);
@syntax-color-modified: hsl( 40,  90%, 50%);
@syntax-color-removed:  hsl(  0, 100%, 54%);
