@import "colors";

// Custom Syntax Variables -----------------------------------

@syntax-cursor-line: hsla(@syntax-hue, 33%,  33%, .07); // needs to be semi-transparent to show serach results
@syntax-bracket-matcher-background-color: darken(@syntax-background-color, 6%);


// Official Syntax Variables -----------------------------------

// General colors
@syntax-text-color:            @syntax-base-text-color;
@syntax-cursor-color:          @syntax-base-accent-color;
@syntax-selection-color:       darken(@syntax-background-color, 8%);
@syntax-selection-flash-color: @syntax-base-accent-color;
@syntax-background-color:      @syntax-base-background-color;

// Guide colors
@syntax-wrap-guide-color:          @syntax-base-guide-color;
@syntax-indent-guide-color:        @syntax-base-guide-color;
@syntax-invisible-character-color: @syntax-base-guide-color;

// For find and replace markers
@syntax-result-marker-color: @syntax-text-color;
@syntax-result-marker-color-selected: @syntax-base-accent-color;

// Gutter colors -----------------------------------
@syntax-gutter-text-color: lighten(@syntax-text-color, 26%);
@syntax-gutter-text-color-selected: @syntax-text-color;
@syntax-gutter-background-color: @syntax-background-color; // unused
@syntax-gutter-background-color-selected: darken(@syntax-background-color, 4%);

// Git colors - For git diff info. i.e. in the gutter
@syntax-color-renamed:  hsl(208, 100%, 66%);
@syntax-color-added:    hsl(132,  60%, 44%);
@syntax-color-modified: hsl( 40,  90%, 50%);
@syntax-color-removed:  hsl(  0, 100%, 54%);

// For language entity colors
@syntax-color-variable: @red;
@syntax-color-constant: @orange;
@syntax-color-property: @syntax-text-color;
@syntax-color-value: @syntax-text-color;
@syntax-color-function: @blue;
@syntax-color-method: @blue;
@syntax-color-class: @light-orange;
@syntax-color-keyword: @purple;
@syntax-color-tag: @red;
@syntax-color-attribute: @orange;
@syntax-color-import: @syntax-color-keyword;
@syntax-color-snippet: @green;
